@charset "UTF-8";
@media screen and (min-width: 1024px) {
  html, body {
    scroll-behavior: smooth;
  }
  .banner .container {
    width: 100%;
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
  }
  .banner .container .wrap {
    width: 100%;
    background: rgb(35, 36, 41);
  }
  .banner .container .wrap .header {
    /* width: 100%; */
    /* height: 500px; */
    background: rgb(35, 36, 41);
    position: relative;
  }
  .banner .container .wrap .header .imgBox {
    width: 100%;
    height: 0px;
    padding-bottom: 45%; /* 控制比例 16:9 -> 56.25%, 4:3 -> 75%  */
    position: relative;
    overflow: hidden;
    /* 后面 5 句就是利用了 css3 中的 background-size:cover 的特性，把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner .container .wrap .header .imgBox .mask {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(35, 36, 41)), color-stop(rgba(35, 36, 41, 0.1)), to(transparent));
    background-image: linear-gradient(to top, rgb(35, 36, 41), rgba(35, 36, 41, 0.1), transparent);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .banner .container .wrap .header .msgBox {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
    /* bottom: 25%; */
    z-index: 2;
    /* margin: 60px */
  }
  .banner .container .wrap .header .msgBox .slogan {
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    text-align: center;
  }
  .banner .container .wrap .header .msgBox .slogan h3 {
    font-size: 64px;
    text-shadow: 0px 8px 32px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 40px 0px;
    line-height: 40px;
  }
  .banner .container .wrap .header .msgBox .slogan p {
    font-size: 20px;
    text-shadow: 0px 4px 16px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .content {
    padding: 30px 0px;
  }
  .content .container {
    width: 100%;
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap {
    width: 85%;
    max-width: 2048px;
    background: rgb(35, 36, 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px 20px;
    /* box-sizing:border-box;  让元素变成一个模型框,使得 padding 生效 */
    margin: 20px auto;
  }
  .content .container .wrap .wrap-right {
    width: 75%;
    background: rgb(35, 36, 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-right .postsCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-right .postsCard h1 {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-right .postsCard .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 30px 30px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a {
    color: #000000;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px 20px;
    height: 180px;
    background: rgb(39, 40, 46); /* 背景 */
    border: 2px solid rgb(58, 59, 68);
    border-radius: 8px; /* 圆角 */
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    padding: 20px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .imgBox {
    height: 100%;
    width: 100%;
    border-radius: 6px; /* 圆角 */
    overflow: hidden;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .imgBox .img {
    width: 0;
    height: 100%;
    padding-right: 100%; /* 控制比例 16:9 -> 56.25%, 4:3 -> 75%  */
    position: relative;
    overflow: hidden;
    border-radius: 6px; /* 圆角 */
    /* 后面 5 句就是利用了 css3 中的 background-size:cover 的特性，把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* 两端对齐，垂直方向*/
    gap: 20px 20px;
    padding: 8px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* 两端对齐，垂直方向*/
    gap: 10px 20px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title h3 {
    margin: 0px;
    line-height: 25px; /* 文字行间距 */
    /* 文字溢出部分截断 */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title p {
    color: rgba(0, 0, 0, 0.5);
    /* 文字溢出部分截断 */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.4);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox {
    /* width: auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    color: rgba(255, 255, 255, 0.7);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left .readingtime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    color: rgba(255, 255, 255, 0.7);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .right .category {
    font-size: 10px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    border-radius: 4px; /* 圆角 */
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card:hover {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    border: 2px solid rgb(85, 86, 99);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card:hover #img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .content .container .wrap .wrap-left {
    position: sticky;
    top: 20px;
    width: 25%;
    height: 50%;
    background: rgba(242, 242, 242, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-left .scrollspy {
    width: 100%;
    background: rgb(39, 40, 46); /* 背景 */
    border: 2px solid rgb(58, 59, 68);
    border-radius: 8px; /* 圆角 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
    padding: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .content .container .wrap .wrap-left .scrollspy a {
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-left .scrollspy a .datetime {
    font-size: 20px;
    font-weight: 600;
  }
  .content .container .wrap .wrap-left .scrollspy a .gotopbtn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    white-space: pre-line;
    cursor: pointer; /* 鼠标小手样式 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap .wrap-left .scrollspy a .gotopbtn:hover {
    border: 1px solid rgb(151, 151, 151);
    background: rgba(242, 242, 242, 0.5);
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  html, body {
    scroll-behavior: smooth;
  }
  .banner .container {
    width: 100%;
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
  }
  .banner .container .wrap {
    width: 100%;
    background: rgb(35, 36, 41);
  }
  .banner .container .wrap .header {
    /* width: 100%; */
    /* height: 500px; */
    background: rgb(35, 36, 41);
    position: relative;
  }
  .banner .container .wrap .header .imgBox {
    width: 100%;
    height: 0px;
    padding-bottom: 60%; /* 控制比例 16:9 -> 56.25%, 4:3 -> 75%  */
    position: relative;
    overflow: hidden;
    /* 后面 5 句就是利用了 css3 中的 background-size:cover 的特性，把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner .container .wrap .header .imgBox .mask {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(35, 36, 41)), color-stop(rgba(35, 36, 41, 0.1)), to(transparent));
    background-image: linear-gradient(to top, rgb(35, 36, 41), rgba(35, 36, 41, 0.1), transparent);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .banner .container .wrap .header .msgBox {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
    /* bottom: 25%; */
    z-index: 2;
    /* margin: 60px */
  }
  .banner .container .wrap .header .msgBox .slogan {
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    text-align: center;
  }
  .banner .container .wrap .header .msgBox .slogan h3 {
    font-size: 64px;
    text-shadow: 0px 8px 32px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 40px 0px;
    line-height: 40px;
  }
  .banner .container .wrap .header .msgBox .slogan p {
    font-size: 20px;
    text-shadow: 0px 4px 16px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .content {
    padding: 50px 0px;
  }
  .content .container {
    width: 100%;
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap {
    width: 85%;
    max-width: 2048px;
    background: rgb(35, 36, 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px 20px;
    /* box-sizing:border-box;  让元素变成一个模型框,使得 padding 生效 */
    margin: 20px auto;
  }
  .content .container .wrap .wrap-right {
    width: 100%;
    background: rgb(35, 36, 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-right .postsCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-right .postsCard h1 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-right .postsCard .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 30px 30px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a {
    color: #000000;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px 20px;
    height: 180px;
    background: rgb(39, 40, 46); /* 背景 */
    border: 2px solid rgb(58, 59, 68);
    border-radius: 8px; /* 圆角 */
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    padding: 20px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .imgBox {
    height: 100%;
    width: 100%;
    border-radius: 6px; /* 圆角 */
    overflow: hidden;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .imgBox .img {
    width: 0;
    height: 100%;
    padding-right: 100%; /* 控制比例 16:9 -> 56.25%, 4:3 -> 75%  */
    position: relative;
    overflow: hidden;
    border-radius: 6px; /* 圆角 */
    /* 后面 5 句就是利用了 css3 中的 background-size:cover 的特性，把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* 两端对齐，垂直方向*/
    gap: 20px 20px;
    padding: 8px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* 两端对齐，垂直方向*/
    gap: 10px 20px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title h3 {
    margin: 0px;
    line-height: 25px; /* 文字行间距 */
    /* 文字溢出部分截断 */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title p {
    color: rgba(0, 0, 0, 0.5);
    /* 文字溢出部分截断 */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.4);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox {
    /* width: auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    color: rgba(255, 255, 255, 0.7);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left .readingtime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    color: rgba(255, 255, 255, 0.7);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .right .category {
    font-size: 10px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    border-radius: 4px; /* 圆角 */
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card:hover {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    border: 2px solid rgb(85, 86, 99);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card:hover #img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .content .container .wrap .wrap-left {
    position: sticky;
    top: 20px;
    width: 25%;
    height: 50%;
    background: rgba(242, 242, 242, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-left .scrollspy {
    width: 100%;
    background: rgb(39, 40, 46); /* 背景 */
    border: 2px solid rgb(58, 59, 68);
    border-radius: 8px; /* 圆角 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
    padding: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .content .container .wrap .wrap-left .scrollspy a {
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-left .scrollspy a .datetime {
    font-size: 20px;
    font-weight: 600;
  }
  .content .container .wrap .wrap-left .scrollspy a .gotopbtn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    white-space: pre-line;
    cursor: pointer; /* 鼠标小手样式 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap .wrap-left .scrollspy a .gotopbtn:hover {
    border: 1px solid rgb(151, 151, 151);
    background: rgba(242, 242, 242, 0.5);
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  html, body {
    scroll-behavior: smooth;
  }
  .banner .container {
    width: 100%;
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
  }
  .banner .container .wrap {
    width: 100%;
    background: rgb(35, 36, 41);
  }
  .banner .container .wrap .header {
    /* width: 100%; */
    /* height: 500px; */
    background: rgb(35, 36, 41);
    position: relative;
  }
  .banner .container .wrap .header .imgBox {
    width: 100%;
    height: 0px;
    padding-bottom: 80%; /* 控制比例 16:9 -> 56.25%, 4:3 -> 75%  */
    position: relative;
    overflow: hidden;
    /* 后面 5 句就是利用了 css3 中的 background-size:cover 的特性，把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner .container .wrap .header .imgBox .mask {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(35, 36, 41)), color-stop(rgba(35, 36, 41, 0.1)), to(transparent));
    background-image: linear-gradient(to top, rgb(35, 36, 41), rgba(35, 36, 41, 0.1), transparent);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .banner .container .wrap .header .msgBox {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
    /* bottom: 25%; */
    z-index: 2;
    /* margin: 60px */
  }
  .banner .container .wrap .header .msgBox .slogan {
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    text-align: center;
  }
  .banner .container .wrap .header .msgBox .slogan h3 {
    font-size: 7vw;
    text-shadow: 0px 8px 32px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 2.5vw 0px;
    line-height: 40px;
  }
  .banner .container .wrap .header .msgBox .slogan p {
    font-size: 2vw;
    text-shadow: 0px 4px 16px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .content {
    padding: 10px 0px;
  }
  .content .container {
    width: 100%;
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap {
    width: 90%;
    max-width: 2048px;
    background: rgb(35, 36, 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px 20px;
    /* box-sizing:border-box;  让元素变成一个模型框,使得 padding 生效 */
    margin: 20px auto;
  }
  .content .container .wrap .wrap-right {
    width: 100%;
    background: rgb(35, 36, 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-right .postsCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-right .postsCard h1 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-right .postsCard .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 30px 30px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a {
    color: #000000;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
    height: auto;
    background: rgb(39, 40, 46); /* 背景 */
    border: 2px solid rgb(58, 59, 68);
    border-radius: 8px; /* 圆角 */
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    padding: 20px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .imgBox {
    height: 100%;
    width: 100%;
    border-radius: 6px; /* 圆角 */
    overflow: hidden;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .imgBox .img {
    width: 100%;
    height: 100%;
    padding-bottom: 40%; /* 控制比例 16:9 -> 56.25%, 4:3 -> 75%  */
    position: relative;
    overflow: hidden;
    border-radius: 6px; /* 圆角 */
    /* 后面 5 句就是利用了 css3 中的 background-size:cover 的特性，把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* 两端对齐，垂直方向*/
    gap: 20px 20px;
    padding: 8px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* 两端对齐，垂直方向*/
    gap: 10px 20px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title h3 {
    margin: 0px;
    line-height: 25px; /* 文字行间距 */
    /* 文字溢出部分截断 */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .title p {
    color: rgba(0, 0, 0, 0.5);
    /* 文字溢出部分截断 */
    display: -webkit-box;
    display: none;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.4);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox {
    /* width: auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    color: rgba(255, 255, 255, 0.7);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .left .readingtime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    color: rgba(255, 255, 255, 0.7);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card .detailBox .abstractBox .right .category {
    font-size: 10px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    border-radius: 4px; /* 圆角 */
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card:hover {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    border: 2px solid rgb(85, 86, 99);
  }
  .content .container .wrap .wrap-right .postsCard .posts a .card:hover #img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .content .container .wrap .wrap-left {
    position: sticky;
    top: 20px;
    width: 25%;
    height: 50%;
    background: rgba(242, 242, 242, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
  }
  .content .container .wrap .wrap-left .scrollspy {
    width: 100%;
    background: rgb(39, 40, 46); /* 背景 */
    border: 2px solid rgb(58, 59, 68);
    border-radius: 8px; /* 圆角 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
    gap: 20px 20px;
    padding: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .content .container .wrap .wrap-left .scrollspy a {
    color: rgba(255, 255, 255, 0.9);
  }
  .content .container .wrap .wrap-left .scrollspy a .datetime {
    font-size: 20px;
    font-weight: 600;
  }
  .content .container .wrap .wrap-left .scrollspy a .gotopbtn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    white-space: pre-line;
    cursor: pointer; /* 鼠标小手样式 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .content .container .wrap .wrap-left .scrollspy a .gotopbtn:hover {
    border: 1px solid rgb(151, 151, 151);
    background: rgba(242, 242, 242, 0.5);
  }
}