
@media screen and (min-width: 1024px){
    .footer {
        .container {
            width: 100%;
            height: 120px;
            background: rgb(31, 31, 36);
            /* 布局 */
            display: flex;              /* flex 布局 */
            justify-content: center;    /* 内容水平居中 */
            align-items: center;        /* 内容垂直居中 */
            .wrap{
                width: 80%;
                display: flex;                      /* flex 布局 */
                flex-direction: column;             /* 主轴方向：垂直 */
                .icp {
                    display: flex;
                    justify-content: center;    /* 内容水平居中 */
                    align-items: center;        /* 内容垂直居中 */
                    white-space:nowrap;         /* 强制不换行 */
                    a {
                        text-decoration: none;  /* 取消下划线 */
                        p{
                        padding: 4px 0px;
                        text-align: center;
                        color: rgb(75, 76, 87);
                        transition: all 0.25s linear;
                        font-size: 14px;
                        }
                        p:hover {
                            color: rgb(117, 119, 134);
                        }
                    }
                }
                .copyright {
                    display: flex;
                    justify-content: center;    /* 内容水平居中 */
                    align-items: center;        /* 内容垂直居中 */
                    white-space:nowrap;         /* 强制不换行 */
                    a {
                        text-decoration: none;  /* 取消下划线 */
                        p{
                        padding: 4px 0px;
                        text-align: center;
                        color: rgb(75, 76, 87);
                        transition: all 0.25s linear;
                        font-size: 14px;
                        }
                        p:hover {
                            color: rgb(117, 119, 134);
                            font-size: 14px;
                        }
                    }
                    p {
                        color: rgb(75, 76, 87);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .footer {
        .container {
            width: 100%;
            height: 120px;
            background: rgb(31, 31, 36);
            /* 布局 */
            display: flex;              /* flex 布局 */
            justify-content: center;    /* 内容水平居中 */
            align-items: center;        /* 内容垂直居中 */
            .wrap{
                width: 80%;
                display: flex;                      /* flex 布局 */
                flex-direction: column;             /* 主轴方向：垂直 */
                .icp {
                    display: flex;
                    justify-content: center;    /* 内容水平居中 */
                    align-items: center;        /* 内容垂直居中 */
                    white-space:nowrap;         /* 强制不换行 */
                    a {
                        text-decoration: none;  /* 取消下划线 */
                        p{
                        padding: 4px 0px;
                        text-align: center;
                        color: rgb(75, 76, 87);
                        transition: all 0.25s linear;
                        font-size: 12px;
                        }
                        p:hover {
                            color: rgb(117, 119, 134);
                        }
                    }
                }
                .copyright {
                    display: flex;
                    justify-content: center;    /* 内容水平居中 */
                    align-items: center;        /* 内容垂直居中 */
                    white-space:nowrap;         /* 强制不换行 */
                    a {
                        text-decoration: none;  /* 取消下划线 */
                        p{
                        padding: 4px 0px;
                        text-align: center;
                        color: rgb(75, 76, 87);
                        transition: all 0.25s linear;
                        font-size: 12px;
                        }
                        p:hover {
                            color: rgb(117, 119, 134);
                        }
                    }
                    p {
                        color: rgb(75, 76, 87);
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){
    .footer {
        .container {
            width: 100%;
            height: 120px;
            background: rgb(31, 31, 36);
            /* 布局 */
            display: flex;              /* flex 布局 */
            justify-content: center;    /* 内容水平居中 */
            align-items: center;        /* 内容垂直居中 */
            .wrap{
                width: 80%;
                display: flex;                      /* flex 布局 */
                flex-direction: column;             /* 主轴方向：垂直 */
                .icp {
                    display: flex;
                    justify-content: center;    /* 内容水平居中 */
                    align-items: center;        /* 内容垂直居中 */
                    white-space:nowrap;         /* 强制不换行 */
                    a {
                        p{
                        padding: 4px 0px;
                        text-align: center;
                        color: rgb(75, 76, 87);
                        transition: all 0.25s linear;
                        font-size: 10px;
                        }
                        p:hover {
                            color: rgb(117, 119, 134);
                        }
                    }
                }
                .copyright {
                    display: flex;
                    justify-content: center;    /* 内容水平居中 */
                    align-items: center;        /* 内容垂直居中 */
                    white-space:nowrap;         /* 强制不换行 */
                    a {
                        p{
                        padding: 4px 0px;
                        text-align: center;
                        color: rgb(75, 76, 87);
                        transition: all 0.25s linear;
                        font-size: 10px;
                        }
                        p:hover {
                            color: rgb(117, 119, 134);
                        }
                    }
                    p {
                        color: rgb(75, 76, 87);
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

