@charset "UTF-8";
@media screen and (min-width: 1024px) {
  .footer .container {
    width: 100%;
    height: 120px;
    background: rgb(31, 31, 36);
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .footer .container .wrap {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
  }
  .footer .container .wrap .icp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    white-space: nowrap; /* 强制不换行 */
  }
  .footer .container .wrap .icp a {
    text-decoration: none; /* 取消下划线 */
  }
  .footer .container .wrap .icp a p {
    padding: 4px 0px;
    text-align: center;
    color: rgb(75, 76, 87);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-size: 14px;
  }
  .footer .container .wrap .icp a p:hover {
    color: rgb(117, 119, 134);
  }
  .footer .container .wrap .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    white-space: nowrap; /* 强制不换行 */
  }
  .footer .container .wrap .copyright a {
    text-decoration: none; /* 取消下划线 */
  }
  .footer .container .wrap .copyright a p {
    padding: 4px 0px;
    text-align: center;
    color: rgb(75, 76, 87);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-size: 14px;
  }
  .footer .container .wrap .copyright a p:hover {
    color: rgb(117, 119, 134);
    font-size: 14px;
  }
  .footer .container .wrap .copyright p {
    color: rgb(75, 76, 87);
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .footer .container {
    width: 100%;
    height: 120px;
    background: rgb(31, 31, 36);
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .footer .container .wrap {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
  }
  .footer .container .wrap .icp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    white-space: nowrap; /* 强制不换行 */
  }
  .footer .container .wrap .icp a {
    text-decoration: none; /* 取消下划线 */
  }
  .footer .container .wrap .icp a p {
    padding: 4px 0px;
    text-align: center;
    color: rgb(75, 76, 87);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-size: 12px;
  }
  .footer .container .wrap .icp a p:hover {
    color: rgb(117, 119, 134);
  }
  .footer .container .wrap .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    white-space: nowrap; /* 强制不换行 */
  }
  .footer .container .wrap .copyright a {
    text-decoration: none; /* 取消下划线 */
  }
  .footer .container .wrap .copyright a p {
    padding: 4px 0px;
    text-align: center;
    color: rgb(75, 76, 87);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-size: 12px;
  }
  .footer .container .wrap .copyright a p:hover {
    color: rgb(117, 119, 134);
  }
  .footer .container .wrap .copyright p {
    color: rgb(75, 76, 87);
    font-size: 12px;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .footer .container {
    width: 100%;
    height: 120px;
    background: rgb(31, 31, 36);
    /* 布局 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
  }
  .footer .container .wrap {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* flex 布局 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 主轴方向：垂直 */
  }
  .footer .container .wrap .icp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    white-space: nowrap; /* 强制不换行 */
  }
  .footer .container .wrap .icp a p {
    padding: 4px 0px;
    text-align: center;
    color: rgb(75, 76, 87);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-size: 10px;
  }
  .footer .container .wrap .icp a p:hover {
    color: rgb(117, 119, 134);
  }
  .footer .container .wrap .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 内容水平居中 */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 内容垂直居中 */
    white-space: nowrap; /* 强制不换行 */
  }
  .footer .container .wrap .copyright a p {
    padding: 4px 0px;
    text-align: center;
    color: rgb(75, 76, 87);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-size: 10px;
  }
  .footer .container .wrap .copyright a p:hover {
    color: rgb(117, 119, 134);
  }
  .footer .container .wrap .copyright p {
    color: rgb(75, 76, 87);
    font-size: 10px;
  }
}